<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AGILE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<userSettings>
        <AGILE.Properties.Settings>
                <setting name="AgileFormLocation" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="AgileFormSize" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="OptionsFrmLocation" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="useSystemXMLDefault" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="xmlEditor" serializeAs="String">
                        <value />
                </setting>
                <setting name="aspect" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="fullScreen" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="lastBrowsePath" serializeAs="String">
                        <value />
                </setting>
        </AGILE.Properties.Settings>
    </userSettings>
</configuration>
